In [6]:
import pandas as pd

In [10]:
import requests
from bs4 import BeautifulSoup

URL = 'https://www.imdb.com/search/title/?countries=us&title_type=feature&num_votes=10000,&sort=user_rating,desc&'

movies = []

for i in range(1,144):
    if i == 1: 
        response = requests.get(URL + 'ref_=adv_prv', headers={"Accept-Language":"en-US"})
        soup = BeautifulSoup(response.content, "html.parser")
        
    elif i > 1:
        response = requests.get(URL +'start='+str(((i-1)*50)+1)+'&ref_=adv_prv' , headers={"Accept-Language":"en-US"})
        soup = BeautifulSoup(response.content, "html.parser")
        
        
        
    for movie in soup.find_all("div", class_="lister-item-content"):
        title = movie.find("h3").find("a").string
        duration = int(movie.find("span", class_="runtime").string.strip(' min'))
        genre = movie.find("span", class_="genre").string.strip(' min').lstrip('\n')
        text = movie.find_all("p", class_="text-muted")[1].text.lstrip('\n')
        movies.append({'title': title, 'genre': genre, 'duration': duration, 'text': text})

In [11]:
len(movies)

7150

In [12]:
movies_df = pd.DataFrame(movies)

In [13]:
movies_df.iloc[88:150]

,title,genre,duration,text
88,North by Northwest,"Action, Adventure, Mystery",136,A New York City advertising executive goes on ...
89,Vertigo,"Mystery, Romance, Thriller",128,A former San Francisco police detective juggle...
90,Singin' in the Rain,"Comedy, Musical, Romance",103,A silent film star falls for a chorus girl jus...
91,Double Indemnity,"Crime, Drama, Film-Noir",107,A Los Angeles insurance representative lets an...
92,Citizen Kane,"Drama, Mystery",119,Following the death of publishing tycoon Charl...
...,...,...,...,...
145,Rush,"Action, Biography, Drama",123,The merciless 1970s rivalry between Formula On...
146,Ford v Ferrari,"Action, Biography, Drama",152,American car designer Carroll Shelby and drive...
147,Spotlight,"Biography, Crime, Drama",129,The true story of how the Boston Globe uncover...
148,The Help,Drama,146,An aspiring author during the civil rights mov...
149,Prisoners,"Crime, Drama, Mystery",153,When Keller Dover's daughter and her friend go...

In [14]:
movies_df.to_csv('nico_movie_recommender.csv')