In [7]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [8]:
pages = np.arange(0, 1000, 100)
movie_list = []

In [9]:
for page in pages:

    URL = "https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=" + str(page)
    response = requests.get(URL, headers={"Accept-Language":"en-US"})
    soup = BeautifulSoup(response.content, "html.parser")
    movies = soup.find_all(class_='lister-item-content')
  
    for movie in movies:
        title = movie.find("h3").find("a").string
        duration = int(movie.find("span", class_="runtime").string.strip(' min'))
        txt = movie.find_all("p", class_= "text-muted")[1].text.lstrip('\n')
        genre = movie.find("span", class_ = 'genre').text.lstrip('\n').strip()

        movie_list.append({'title': title, 'txt': txt, 'duration': duration, 'genre': genre})

In [16]:
movie_df['genre'][2]

'Action, Crime, Drama'

In [4]:
movie_df = pd.DataFrame(movie_list)

In [5]:
movie_df

,title,txt,duration,genre
0,The Shawshank Redemption,Two imprisoned men bond over a number of years...,142,Drama
1,The Godfather,The aging patriarch of an organized crime dyna...,175,"Crime, Drama"
2,The Dark Knight,When the menace known as the Joker wreaks havo...,152,"Action, Crime, Drama"
3,The Lord of the Rings: The Return of the King,Gandalf and Aragorn lead the World of Men agai...,201,"Action, Adventure, Drama"
4,Schindler's List,"In German-occupied Poland during World War II,...",195,"Biography, Drama, History"
...,...,...,...,...
995,Rebel Without a Cause,A rebellious young man with a troubled past co...,111,Drama
996,Sabrina,A playboy becomes interested in the daughter o...,113,"Comedy, Drama, Romance"
997,From Here to Eternity,"At a U.S. Army base in 1941 Hawaii, a private ...",118,"Drama, Romance, War"
998,Snow White and the Seven Dwarfs,Exiled into the dangerous forest by her wicked...,83,"Animation, Adventure, Family"
999,The 39 Steps,A man in London tries to help a counter-espion...,86,"Crime, Mystery, Thriller"

In [6]:
movie_df.to_csv('../raw_data/top1000movie_recommender.csv')